

<input [(ngModel)]="username">
<pre *ngIf="!username" >Connectez vous svp</pre>
<pre *ngIf="username" >Bienvenue {{ username }}</pre>

<div *ngFor="let tweet of tweets">

    <div style="border: 1px solid #bcbcbc; border-radius: 8px; padding: 10px; background-color: #f1f1f1">
      <label style="font-weight: bold">{{tweet.user}}</label>
        &middot;
      <small>{{tweet.created_at|timeAgo}}</small>
      <hr>
      <pre>{{tweet.text}}</pre>
      <label style="color: black">
        <i class="far fa-heart" style="color: black; margin-right: 5px;" (click)="onLike(tweet, like, unlike)" (mouseenter)="onHover(like)" #like></i>
        <i class="fas fa-heart-broken" style="color: black" (click)="onDislike(tweet, like, unlike)" (mouseenter)="onHover(unlike)" #unlike></i>
        {{tweet.nbrLike}}
      </label>

    </div>
      <br>

  </div>


<label style="color: white">Type something:
    <br>
    <textarea cols="50" rows="4" #tweetText></textarea>
</label>

<br>
<div class="btn-container">
    <button [disabled]="!username" (click)="onSave(tweetText.value, username)" >Tweet</button>
</div>
