<!--
<div>
  <label style="font-weight: bold">James Braddock</label>
  <pre>{{tweets[0].created_at|date:'dd/MM/yyyy'}}</pre>
  <p>Je mets les pieds où je veux, Little John… et c'est souvent dans la gueule.</p>
</div>

<div>
  <label style="font-weight: bold">Bob kelso</label>
  <pre>{{tweets[1].created_at|date:'dd/MM/yyyy'}}</pre>
  <p>Qui a deux pouces et qui s'en fout ? Bob Kelso !</p>
</div>

<div>
  <label style="font-weight: bold">Lionel Messi</label>
  <pre>Wed Apr 05 12:30:12 +0000 2017</pre>
  <strong>La pulga est un extraterrestre</strong>
</div>
-->

<!--<ul>

  <li *ngFor="let tweet of tweets">

    <div>
      <label style="font-weight: bold">{{tweet.user}}</label>
      <pre>{{tweet.created_at|date:'dd/MM/yyyy'}}</pre>
      <strong>{{tweet.text}}</strong>
    </div>

</ul>-->




  <div *ngFor="let tweet of tweets">

    <div style="border: 1px solid #bcbcbc; border-radius: 8px; padding: 10px;">
      <label style="font-weight: bold">{{tweet.user}}</label>
        &middot;
      <small>{{tweet.created_at|timeAgo}}</small>
      <hr>
      <pre>{{tweet.text}}</pre>
      <label style="color: black">
        <i class="far fa-heart" style="color: black; margin-right: 5px;" (click)="onLike(tweet, like, unlike)" (mouseenter)="onHover(like)" #like></i>
        <i class="fas fa-heart-broken" style="color: black" (click)="onDislike(tweet, like, unlike)" (mouseenter)="onHover(unlike)" #unlike></i>
        {{tweet.nbrLike}}
      </label>

    </div>
      <br>

  </div>


<label>Type something:
    <br>
    <textarea cols="50" rows="4" #tweetText></textarea>
</label>

<br>
<button (click)="onSave(tweetText.value)" type="button" style="width: 80px; height: 30px">Tweet</button>